# Lists
Lists are a type of data structure that allows to manage a huge quantity of data.

## Defining
A list is capable of operating different types of primitive data structures at the same time.

In [2]:
#We can define a list using this sintax
list_1 = list()

# Or we can define it as follow:

list_2 = []

In [4]:
## Creating and showing a list with data
##    0     1      2      3           positive access index
##    -4     -3      -2      -1       negative access index
ls = [10, 21.78, True, 'String']

print(ls)

[10, 21.78, True, 'String']

In [7]:
## As a good practice, tries to create a list that contains the same type of data

ls_int = [-10, 5, 0, 5, 10]

ls_floats = [-1.499, 74.32, 8.2, -2.54, 10.0]

ls_booleans = [False, True, (3>4), 2>1 and 10 != 11]

ls_strings = ["Hey", "Hello", "Python", "Language", "Bye"]

In [14]:
## Getting the value through the index value[0,n]
list_classes = ["Python", "Django", "Flask", " Ruby", "Java"]

class1 = list_classes[0]
print(class1)

class2 = list_classes[1]
print(class2)

class3 = list_classes[2]
print(class3)

class4 = list_classes[3]
print(class4)

class5 = list_classes[4]
print(class5)

## It is possible to read values from negative indexes:
## Last value of a list
last_class = list_classes[-1]
print(last_class)

Python
Django
Flask
 Ruby
Java
Java

## Replacing a value

In [17]:
list_classes = ["Python", "Django", "Flask", " Ruby", "Java"]

list_classes[0] = "Rust" # Replacing a value in a determined index
print(list_classes)

['Rust', 'Django', 'Flask', ' Ruby', 'Java']

## Sublists

In [42]:
list_classes = ["Python", "Django", "Flask", " Ruby", "Java"]

sub_list = list_classes[0:3]  #list_name[start:end]
print(sub_list)

['Python', 'Django', 'Flask']

In [20]:
## [start:] -> We get the last elements of the list
list_classes[2:]

['Flask', ' Ruby', 'Java']

In [21]:
## [:end] -> We get the first elements of the list
list_classes[:2]

['Python', 'Django']

In [43]:
## [start:end:skip] -> We get the elements of the list from start to the end with a skip
list_classes[1:4:2]

['Django', ' Ruby']

In [44]:
## [::skip] -> We get all the elements of the list with a skip of n
list_classes[::2]

['Python', 'Flask', 'Java']

In [25]:
## [:] -> We get all the elements from the principal list
list_classes[:]

['Python', 'Django', 'Flask', ' Ruby', 'Java']

## Adding new values

In [31]:
## Append method
list_classes = ["Python", "Django", "Flask", "Ruby", "Java"]
list_classes.append("C++")
list_classes.append("C#")
print(list_classes)

['Python', 'Django', 'Flask', ' Ruby', 'Java', 'C++', 'C#']

In [32]:
## Insert method | list.insert(index, value)
list_classes.insert(1, "Assembly")
print(list_classes)

['Python', 'Assembly', 'Django', 'Flask', ' Ruby', 'Java', 'C++', 'C#']

In [33]:
##Extend method | list.extend(list1)
list_classes2 = ["Docker, Kubernetes"]

list_classes.extend(list_classes2)
print(list_classes)

['Python', 'Assembly', 'Django', 'Flask', ' Ruby', 'Java', 'C++', 'C#', 'Docker, Kubernetes']

## Removing values

In [38]:
## Removing a value in the list by using remove method
list_classes = ['Python', 'Assembly', 'Django', 'Flask', 'Ruby', 'Java', 'C++', 'C#', 'Docker, Kubernetes']
list_classes.remove('Ruby')
print(list_classes)

['Python', 'Assembly', 'Django', 'Flask', 'Java', 'C++', 'C#', 'Docker, Kubernetes']

In [ ]:
## Removing a value in the list by using remove method
list_classes = ['Python', 'Assembly', 'Django', 'Flask', 'Ruby', 'Java', 'C++', 'C#', 'Docker, Kubernetes']
list_classes.remove('Ruby')
print(list_classes)

In [39]:
## Removing a value in the list by using the index
list_classes = ['Python', 'Assembly', 'Django', 'Flask', 'Ruby', 'Java', 'C++', 'C#', 'Docker, Kubernetes']
del list_classes[0] ## Reserved word "del"
print(list_classes)

['Assembly', 'Django', 'Flask', 'Ruby', 'Java', 'C++', 'C#', 'Docker, Kubernetes']

In [40]:
## delete all values in the list by using clear() method
list_classes = ['Python', 'Assembly', 'Django', 'Flask', 'Ruby', 'Java', 'C++', 'C#', 'Docker, Kubernetes']
list_classes.clear()
print(list_classes)

[]

## Methods for a list

In [45]:
list_ = [14, 58, 13, 3, 520, 74, 321]

# Method sort(reverse=False by default) order values in the list 
list_.sort()
print(list_)

[3, 13, 14, 58, 74, 321, 520]

In [48]:
# Method sort(reverse=True) order values in a reverse way
list_.sort(reverse=True)
print(list_)

[520, 321, 74, 58, 14, 13, 3]

In [51]:
## Check if a value is available in a list
print(3 in list_)

True

In [52]:
## Check if a value is not available in a list
print(3 not in list_)

False

In [56]:
## Extract the index of a value found
print(58 in list_)

index = list_.index(58)
print(index)

True
3

## Matrices

In [60]:
colum_a = [10,20]
colum_b = [30,40]

matrix = [colum_a, colum_b] # 2 x 2
print(matrix)

[[10, 20], [30, 40]]

In [64]:
# Show a specific value in a matrix
print(matrix[0][0]) # matrix[row][colum]

10